################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BuildQueueMonitoring/bin/Debug/netcoreapp3.1
/src/BuildQueueMonitoring/obj
/src/BuildQueueMonitoring/.vs/BuildQueueMonitoring
